<div class="row">
    <div class="col-xl-12">
        <div class="card mb-6">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Agenda</h5>
            </div>
            <div class="card-body">
                <div class="row text-center" *ngIf="showViews">
                    <div class="col-md-4">
                        <div class="btn-group">
                            <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                                (viewDateChange)="closeOpenMonthViewDay()">
                                Previous
                            </div>
                            <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                                Today
                            </div>
                            <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                                (viewDateChange)="closeOpenMonthViewDay()">
                                Next
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h3>{{ viewDate | calendarDate : view + "ViewTitle" : "en" }}</h3>
                    </div>
                    <div class="col-md-4">
                        <div class="btn-group">
                            <div class="btn btn-primary" (click)="setView(CalendarView.Month)"
                                [class.active]="view === CalendarView.Month">
                                Month
                            </div>
                            <div class="btn btn-primary" (click)="setView(CalendarView.Week)"
                                [class.active]="view === CalendarView.Week">
                                Week
                            </div>
                            <div class="btn btn-primary" (click)="setView(CalendarView.Day)"
                                [class.active]="view === CalendarView.Day">
                                Day
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center" *ngIf="!showViews">
                    <div class="col-md-12 mb-2">
                        <div class="btn-group">
                            <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                                (viewDateChange)="closeOpenMonthViewDay()">
                                Previous
                            </div>
                            <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                                Today
                            </div>
                            <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                                (viewDateChange)="closeOpenMonthViewDay()">
                                Next
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h3>{{ viewDate | calendarDate : view + "ViewTitle" : "en" }}</h3>
                    </div>
                </div>
                <br />
                <div [ngSwitch]="view">
                    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
                        [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)"
                        (eventTimesChanged)="eventTimesChanged($event)" (eventClicked)="open('Clicked', $event.event)">
                    </mwl-calendar-month-view>
                    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
                        [refresh]="refresh" (eventTimesChanged)="eventTimesChanged($event)"
                        (eventClicked)="open('Clicked', $event.event)">
                    </mwl-calendar-week-view>
                    <ng-container *ngIf="showViews">
                        <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
                            [refresh]="refresh" (eventTimesChanged)="eventTimesChanged($event)"
                            (eventClicked)="open('Clicked', $event.event)" [dayStartHour]="7" [dayEndHour]="20">
                        </mwl-calendar-day-view>
                    </ng-container>
                    <ng-container *ngIf="!showViews">
                        <div class="row">
                            <div class="col-6">
                                <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate"
                                    [events]="events" [refresh]="refresh"
                                    (eventTimesChanged)="eventTimesChanged($event)"
                                    (eventClicked)="open('Clicked', $event.event)" [dayStartHour]="7" [dayEndHour]="13">
                                </mwl-calendar-day-view>
                            </div>
                            <div class="col-6">
                                <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate"
                                    [events]="events" [refresh]="refresh"
                                    (eventTimesChanged)="eventTimesChanged($event)"
                                    (eventClicked)="open('Clicked', $event.event)" [dayStartHour]="14"
                                    [dayEndHour]="20">
                                </mwl-calendar-day-view>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>